@import "tailwindcss";
#canvas-container {
  width: 50vw;
  height: 100vh;
  flex: 1;
}
body {
  margin: 0;
}

canvas {
  display: block;
}

#dis {
  display: flex;
  background-color: antiquewhite;
}
#dis2 {
  flex: 1;
  background-color: white;
}
